body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    margin: 20px auto;
    width: 480px;
    border: 2px solid black;
  }
  
  .square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
  }
  
  .light {
    background-color: #f0d9b5;
  }
  
  .dark {
    background-color: #b58863;
  }
  
  .selected {
    outline: 3px solid yellow;
  }
  