:root {
  --board-size: min(92vw, 480px);
  --square-size: calc(var(--board-size) / 8);
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, var(--square-size));
  grid-template-rows: repeat(8, var(--square-size));
  width: var(--board-size);
  height: var(--board-size);
  margin: 20px auto;
  border: 2px solid black;
  box-sizing: border-box;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--square-size) * 0.65);
  cursor: pointer;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.selected {
  outline: 3px solid yellow;
}
